/*

FRONTEND CSS

*/



.wp-block-zidithemes-align-bg-block {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.wp-block-zidithemes-align-bg-block .zidithemes-jumbotron {
	width: 100%;
}


.wp-block-zidithemes-align-bg-block .zidithemes-jumbotron-content {
	height: 74px !important;
}


.wp-block-zidithemes-align-bg-block .zidithemes-jumbotron h2{
	
}

.wp-block-zidithemes-align-bg-block .zidithemes-jumbotron p{
	font-size: 18px !important;
}

.wp-block-zidithemes-align-jumbotron-block
.zidithemes-jumbotron {
	padding: 64px 32px;
}


.wp-block-zidithemes-align-jumbotron-block
.zidithemes-jumbotron-title h2 {
	font-weight: 300 !important;
	margin-bottom: 9px !important;
}


.wp-block-zidithemes-align-jumbotron-block
.zidithemes-jumbotron-title p {
	font-size: 20px !important;
}


/* BEGIN MOBILE SCREEN STYLE */
        
@media screen and (max-width: 767px)
{
    
    .mb-wid-100 {
        width: 100% !important;
    }

}

/* END MOBILE SCREEN STYLE */